<configuration>
    <configSections>
        <section name="unity"
                 type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
 Unity.Configuration"/>
    </configSections>
    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

        <namespace name="UnityContainers"/>
        <assembly name="UnityContainers"/>
        <!-- Definicje Typów -->
        <alias alias="ICalculator" type="UnityContainers.ICalculator, UnityContainers"/>
        <alias alias="CatCalc" type="UnityContainers.CatCalc, UnityContainers"/>
        <alias alias="PlusCalc" type="UnityContainers.PlusCalc, UnityContainers"/>
        <alias alias="StateCalc" type="UnityContainers.StateCalc, UnityContainers"/>

        <alias alias="Worker"  type="UnityContainers.Worker, UnityContainers" />
        <alias alias="Worker2" type="UnityContainers.Worker2, UnityContainers"/>
        <alias alias="Worker3" type="UnityContainers.Worker3, UnityContainers"/>


        <container>
            <register type="ICalculator" mapTo="CatCalc"  name="catcalc"  />
            <register type="ICalculator" mapTo="PlusCalc" name="pluscalc" />
            <!-- StateCalc jako singelton -->
            <register type="ICalculator" mapTo="StateCalc" name="statecalc">
                <lifetime type="Unity.Lifetime.ContainerControlledLifetimeManager,
 Unity.Abstractions"/>
                <constructor>
                    <param name="i" value="1"/>
                </constructor>
            </register>


            <!-- Definicje workerów -->

            <!-- obiekty Worker korzystały z CatCalc -->
            <register type="Worker">
                <constructor>
                    <param name="calc" type="ICalculator">
                        <dependency name="catcalc"/>
                    </param>
                </constructor>
            </register>

            <!-- obiekty Worker2 korzystały z PlusCalc -->
            <register type="Worker2">
                <property name="m_calc">
                    <dependency name="pluscalc"/>
                </property>
            </register>

            <!-- obiekty Worker3 korzystały z CatCalc -->
            <register type="Worker3">
                <method name="SetCalc">
                    <param name="calc" type="ICalculator">
                        <dependency name="statecalc"/>
                    </param>
                </method>
            </register>

            <!-- Workery z nazwą "state" korzystały ze StateCalc -->
            <register type="Worker" name="state">
                <constructor>
                    <param name="calc" type="ICalculator">
                        <dependency name="statecalc"/>
                    </param>
                </constructor>
            </register>

            <register type="Worker2" name="state">
                <property name="m_calc">
                    <dependency name="statecalc"/>
                </property>
            </register>

            <register type="Worker3" name="state">
                <method name="SetCalc">
                    <param name="calc" type="ICalculator">
                        <dependency name="statecalc"/>
                    </param>
                </method>
            </register>
        </container>
        

    </unity>
</configuration>